In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import plotly.graph_objects as go
import plotly.express as px
import matplotlib.pyplot as plt
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
#for dirname, _, filenames in os.walk('/kaggle/input'):
#    for filename in filenames:
#        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [3]:
data = pd.read_csv("crime.csv", encoding='windows-1252')

In [4]:
data.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I182070945,619,Larceny,LARCENY ALL OTHERS,D14,808,NaN,2018-09-02 13:00:00,2018,9,Sunday,13,Part One,LINCOLN ST,42.357791,-71.139371,"(42.35779134, -71.13937053)"
1,I182070943,1402,Vandalism,VANDALISM,C11,347,NaN,2018-08-21 00:00:00,2018,8,Tuesday,0,Part Two,HECLA ST,42.306821,-71.060300,"(42.30682138, -71.06030035)"
2,I182070941,3410,Towed,TOWED MOTOR VEHICLE,D4,151,NaN,2018-09-03 19:27:00,2018,9,Monday,19,Part Three,CAZENOVE ST,42.346589,-71.072429,"(42.34658879, -71.07242943)"
3,I182070940,3114,Investigate Property,INVESTIGATE PROPERTY,D4,272,NaN,2018-09-03 21:16:00,2018,9,Monday,21,Part Three,NEWCOMB ST,42.334182,-71.078664,"(42.33418175, -71.07866441)"
4,I182070938,3114,Investigate Property,INVESTIGATE PROPERTY,B3,421,NaN,2018-09-03 21:05:00,2018,9,Monday,21,Part Three,DELHI ST,42.275365,-71.090361,"(42.27536542, -71.09036101)"

In [84]:
data.info()
template = "plotly_white"
color_1 = '#3182bd'
color_2 = '#f1a340'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319073 entries, 0 to 319072
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   INCIDENT_NUMBER      319073 non-null  object
 1   OFFENSE_CODE         319073 non-null  int64
 2   OFFENSE_CODE_GROUP   319073 non-null  object
 3   OFFENSE_DESCRIPTION  319073 non-null  object
 4   DISTRICT             317308 non-null  object
 5   REPORTING_AREA       319073 non-null  object
 6   SHOOTING             1019 non-null    object
 7   OCCURRED_ON_DATE     319073 non-null  object
 8   YEAR                 319073 non-null  int64
 9   MONTH                319073 non-null  int64
 10  DAY_OF_WEEK          319073 non-null  object
 11  HOUR                 319073 non-null  int64
 12  UCR_PART             318983 non-null  object
 13  STREET               308202 non-null  object
 14  Lat                  299074 non-null  float64
 15  Long                 299074 non-null  float64
 16  Location             319073 non-null  object
 17  year_month           319073 non-null  int64
dtypes: float64(2), int64(5), object(11)
memory usage: 43.8+ MB

Tabela prezetująca poszczególne kradzieże w ciągu roku

In [112]:
bicycle_data = data.iloc[:,[3, 8]].copy()
bicycle_data['existence'] = data['OFFENSE_DESCRIPTION'].str.find('BICYCLE')
# bicycle_data.loc[bicycle_data.existence >0, 'result']='success'
bicycle_data = bicycle_data[bicycle_data.existence != -1].copy()
bicycle_data['existence'] = bicycle_data['existence'].replace([17, 26, 25, 7, 8],0)
bicycle_data.pivot_table(index=['OFFENSE_DESCRIPTION','YEAR'], columns='existence', aggfunc='size', fill_value=0)
#plt.hist(bicycle_data.value_counts())

# bicycle_data.hist(figsize=[12, 8], bins=15)
#plt.show()

existence                                            0
OFFENSE_DESCRIPTION                          YEAR
INJURY BICYCLE NO M/V INVOLVED               2015   10
                                             2016   26
                                             2017   16
                                             2018    5
LARCENY BICYCLE $200 & OVER                  2015    2
                                             2016    1
LARCENY THEFT OF BICYCLE                     2015  576
                                             2016  663
                                             2017  599
                                             2018  427
M/V ACCIDENT - INVOLVING BICYCLE - NO INJURY 2015  112
                                             2016  145
                                             2017   95
                                             2018   74
M/V ACCIDENT - INVOLVING  BICYCLE - INJURY   2015  185
                                             2016  305
                                             2017  272
                                             2018  154

                        OFFENSE_DESCRIPTION  YEAR existence
0                        LARCENY ALL OTHERS  2018       NaN
1                                 VANDALISM  2018       NaN
2                       TOWED MOTOR VEHICLE  2018       NaN
3                      INVESTIGATE PROPERTY  2018       NaN
4                      INVESTIGATE PROPERTY  2018       NaN
...                                     ...   ...       ...
319068                       WARRANT ARREST  2016       NaN
319069  MURDER, NON-NEGLIGIENT MANSLAUGHTER  2015       NaN
319070                       WARRANT ARREST  2015       NaN
319071                       WARRANT ARREST  2016       NaN
319072                       WARRANT ARREST  2015       NaN

[319073 rows x 3 columns]

In [74]:
fig = px.histogram(bicycle_data, x='OFFENSE_DESCRIPTION',
            title='Rozkład wieku pasażerów Titanica',
            labels={'Age': 'Wiek'},
            color_discrete_sequence=[color_1],
            template=template,
            #marginal="box",
            nbins = 40,
            width=800, height=500)
fig.show()

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('int64'), dtype('<U1')) -> None

In [ ]:
chosen_data = data.iloc[:,[2,3,6,8,9,10,11,16]]

In [ ]:
chosen_data

In [ ]:
chosen_data.hist()

In [ ]:
plt.hist(choosen_data.iloc[:,[0]])

Wezwania są zgodne z jedym z 67 kodów

In [ ]:
data_offences = data['OFFENSE_CODE_GROUP'].value_counts()

In [ ]:
do = data['OFFENSE_CODE_GROUP'].unique()
do
#'Medical Assistance'

Pie chart z poszczególnymi przestępstwami

In [ ]:
plt.pie(data_offences)
 
# show plot
plt.show()

In [ ]:
data_year = data['YEAR'].value_counts()

Godziny w których jest popełniane najwiecej przestępstw

In [ ]:
#data_hour = data['HOUR'].value_counts()
plt.hist(data['HOUR'], bins = 24)
plt.show()

In [ ]:
data

In [ ]:
plt.hist(data['MONTH'], bins = 12)
plt.show()

In [ ]:
import plotly.graph_objects as go

fig = go.Figure(go.Choroplethmapbox(geojson=counties, locations=data, z=df.unemp,
                                    colorscale="Viridis", zmin=0, zmax=12, marker_line_width=0))
fig.update_layout(mapbox_style="light", mapbox_accesstoken=token,
                  mapbox_zoom=3, mapbox_center = {"lat": 37.0902, "lon": -95.7129})
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()

In [ ]:
fig = go.Figure(
    go.Choropleth(locations=data['Location'],
            
                    ))
fig.update_geos(projection_type='natural earth')
fig.update_layout(title='<b>Countries by life expectancy.</b>',
    height=300,
    margin={"r":40,"t":40,"l":40,"b":0})
fig.show()

In [ ]:
fig = go.Figure()
fig.add_trace(go.Bar(x=counts_1, y=bins_1,
                base=-counts_1,
                marker_color=color_2,
                name='Kobiety',
                orientation='h'
                    ))
fig.add_trace(go.Bar(x=counts_2, y=bins_2,
                base=0,
                marker_color=color_1,
                name='Mężczyźni',
                 orientation='h'
                    ))
fig.update_layout(barmode='overlay',
            title='Rozkład wieku pasażerów Titanica',
            yaxis_title='Wiek',
            xaxis_title='Liczebność',
            template=template,
            width=700, height=600)
fig.update_xaxes(
    ticktext=['20', '0', '20', '40'],
    tickvals=['-20', '0', '20', '40']
)
fig.show()